<h2><%= country.country %></h2>
<p><%= country.region %></p>
<img src="/<%= country.image %>">

<h2>Resorts</h2>
<% country.resort.forEach(resort => { %>
  <%= resort.name %>
  <%= resort.website %>
  <%= resort.lat %>
  <%= resort.lng %>
  <%= resort.description %>
<% }) %>
