
<h2 class="resorts-header">Resort Information</h2>
<%# <div class="resortOpacBg"><div>%>
<ul>
  <% country.resort.forEach(resort => { %>
    <li class="country-resort">
    <p data-lat="<%= resort.lat %>" data-lng="<%= resort.lng %>" class="weather">Current Weather: <span class="display-weather">Loading...</span></p>
      <h4 class="resort-name"><%= resort.name %></h4>
      <h6 class="resort-website"><%= resort.website %></h6>
      <h6><%= resort.lat %> <%= resort.lng %></h6>
      <p class="resort-description"><%= resort.description %></p>
    </li>
  <% }) %>
</ul>
