<h2 class="country-header"><%= country.country %></h2>
<p class="country-region"><%= country.region %></p>
<img src="/<%= country.image %>">

<h2 class="resorts-header">Resort Information</h2>
<% country.resort.forEach(resort => { %>
  <%= resort.name %>
  <%= resort.website %>
  <%= resort.lat %>
  <%= resort.lng %>
  <%= resort.description %>
<% }) %>
